In [35]:
import pandas as pd
import numpy as np

In [36]:
url = 'https://raw.githubusercontent.com/lenhattung/SP26-AI1904-DAP391m/refs/heads/main/lab_part_2/01%20-%20Linear%20and%20logistic%20regression/titanic.csv'
df = pd.read_csv(url)

In [37]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [38]:
df['age'] = df['age'].fillna(df['age'].median()).round(0).astype('int64')
df['fare'] = df['fare'].fillna(df['fare'].mean()).round(2).astype('float64')
X = df.drop(['cabin', 'embarked','boat', 'body', 'home.dest', 'name', 'ticket', 'passenger_id'], axis = 1)
y = df['survived']
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1309 non-null   int64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1309 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(2), int64(7), object(6)
memory usage: 153.5+ KB

In [39]:
X = sm.add_constant(X)
model_sm = sm.OLS(y, X)
model_sm.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 2.369e+29
Date:                Fri, 16 Jan 2026   Prob (F-statistic):               0.00
Time:                        16:03:26   Log-Likelihood:                 39936.
No. Observations:                1309   AIC:                        -7.986e+04
Df Residuals:                    1301   BIC:                        -7.982e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       3.963e-15   2.21e-15      1.794      0.073    -3.7e-16    8.29e-15
pclass      1.696e-15   6.07e-16      2.793      0.005    5.05e-16    2.89e-15
survived       1.0000   9.75e-16   1.03e+15      0.000       1.000       1.000
sex          3.92e-16   9.53e-16      0.412      0.681   -1.48e-15    2.26e-15
age          1.99e-17   3.28e-17      0.607      0.544   -4.44e-17    8.42e-17
sibsp      -6.089e-16   4.02e-16     -1.514      0.130    -1.4e-15     1.8e-16
parch       2.567e-16   4.89e-16      0.525      0.600   -7.02e-16    1.22e-15
fare       -2.478e-16    9.3e-18    -26.646      0.000   -2.66e-16    -2.3e-16
==============================================================================
Omnibus:                     1121.551   Durbin-Watson:                   0.795
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            30865.480
Skew:                           3.936   Prob(JB):                         0.00
Kurtosis:                      25.449   Cond. No.                         394.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""